@media print {
    body * {
        visibility: hidden;
    }

    #calendar-container, #calendar-container * {
        visibility: visible;
    }

    #calendar-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
